@use "@/styles/_partials/_all" as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: rem(16);
  margin-top: rem(70);
  width: 100%;
  border-top: solid 1px var(--color-border);
}

.copyright {
  font-family: var(--typo-font-roboto);
  font-size: rem(12);
}
