@use "@/styles/_partials/_all" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(16);
}

.logo {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  align-items: center;
  padding: rem(80) rem(80) rem(113);
}

.version {
  font-family: var(--typo-font-roboto);
  font-weight: 700;
  color: #6d6d6d;
}

.button_container {
  display: grid;
  gap: rem(22);
  padding: 0 rem(30);
}
