@use "@/styles/_partials/_all" as *;

.loading {
  display: inline-block;
  @for $i from 1 through 10 {
    & span:nth-child(#{$i}) {
      --index: #{$i};
      display: inline-block;
      transform: translateY(0);
      animation: fadeInUp 4s ease infinite;
      animation-delay: calc(var(--index) * 0.1s);
    }
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(0);
    }
    3% {
      transform: translateY(-4px);
    }
    6% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}
